/**
 * Table of Contents:
 *
 * 1 - Basic
 * 2 - Navbar
 * 3 - Tile
 * 4 - Portfolio
 * 5 - About
 * 6 - Service
 * 7 - Team
 * 8 - client
 * 9 - Blog
 * 10 - Contact
 * 11 - Follow
 * 12 - Media Query
 *
 * ----------------------------------------------------------------------------
 */

/* Basic */
body {
	font-size: 15px;
	font-family: 'Open Sans', sans-serif;
	overflow: hidden;

	
}
ol, ul, li {
	margin: 0;
	padding: 0;
	list-style: none;
}
a, a:hover {
	text-decoration: none;
}
.h1, .h2, .h3, .h4 {
	color: #006AC1;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
}
.h1 {
	font-size: 50px;
	text-align: center;
	margin-bottom: 30px;
	font-family: 'Quicksand', sans-serif;
}
.h2 {
	color: #ffffff;
	font-size: 34px;
	text-align: center;
}
.h3 {
	color: #ffffff;
	padding-bottom: 5px;
}
.h4 {
	color: #FFFFFF;
	margin: 20px 0;
	padding-bottom: 5px;
	border-bottom: 1px solid #FDFDFD;
}
.lead {
	color: #555555;
	text-align: center;
}
.metro-hr {
	width: 100%;
	height: 1px;
	float: left;
	border: none;
	background: #e1e1e1;
	margin: 40px 0 40px 0;
	position: relative;
}
.metro-hr:before {
	width: 25%;
	height: 1px;
	content: '';
	left: 0;
	top: 0;
	display: block;
	position: absolute;
	background: #2A90FF;
}
.btn, .alert, .modal-content {
	border-radius: 0;
}
.navbar .container {
	max-width:970px;
}
.section .container {
	max-width: 1000px;
	padding-bottom: 70px;
}
::selection {
	text-shadow: none;
	background: #ffffff;
}
::-webkit-scrollbar {
 
}
#loading {
	width: 100%;
	height: 100%;
	position: fixed;
	background: #303030 url(../images/loader.gif) no-repeat center center;
	z-index: 1000;
}
/* Navbar */
.navbar {
	border: 0;
	bottom: -50px;
	background: #3b5998;
}
.navbar-default .navbar-nav li a {
	color: #FFFFFF;
	font-size: 13px;
}
.navbar-default .navbar-brand {
	color: #FFFFFF;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-nav li a:hover {
	color: #FFFFFF;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #34495e;
}
body.modal-open, .modal-open .navbar-fixed-top, .modal-open .navbar-fixed-bottom {
	margin-right: auto;
}
/* Tile */
.home .container {
	max-width: 940px;
	padding-bottom: 0;
	padding-top: 40px;
	
}
.tile {
	width: 24%;
		float: left;
	margin: 0.5%;
	position: relative;
}
/* http://www.mademyday.de/css-height-equals-width-with-pure-css.html */
.tile:before {
	content: "";
	display: block;
	padding-top: 100%;
}
.tile:nth-child(4n+1) {
	clear: both;
}
.tile-item {
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	z-index: 10;
}
.tile-item a,
.tile-item a:hover {
	color: #ffffff;
}
.tile-item:hover {
	color: #ffffff;
	-webkit-box-shadow: -3px 3px 3px 1px #858585;
	-moz-box-shadow: -3px 3px 3px 1px #858585;
	-o-box-shadow: -3px 3px 3px 1px #858585;
	box-shadow: -3px 3px 3px 1px #858585;
	-webkit-transform: translate3d(6px, -6px, 0);
	-moz-transform: translate3d(6px, -6px, 0);
	-ms-transform: translate3d(6px, -6px, 0);
	-o-transform: translate3d(6px, -6px, 0);
	transform: translate3d(6px, -6px, 0);
	z-index: 100;
}
.tile-item i {
	display: block;
	padding-top: 9%;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-ms-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}
.tile-item:hover i {
	-webkit-transform: scale(1.2) rotate(360deg);
	-moz-transform: scale(1.2) rotate(360deg);
	-ms-transform: scale(1.2) rotate(360deg);
	-o-transform: scale(1.2) rotate(360deg);
	transform: scale(1.2) rotate(360deg);
}
.tile-nav {
	width: 100%;
	height: 100%;
	color: #ffffff;
	display: block;
	font-size: 19.2px;
	text-align: center;
	position: relative;
	font-family: 'Open Sans', sans-serif;
}
.tile .ascensorLink {
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: block;
	position: absolute;
}
.tile .ascensorLink .h5 {
	font-size: 18px;
	line-height: 2;
	font-family: 'Open Sans', sans-serif;
}
.tile-portfolio {
	background: #E74C3C;
}
.tile-about {
	background: #9f00a7;
}
.tile-service {
	background: #2D92FF;
}
.tile-team {
	background: #ffc40d;
}
.tile-client {
	background: #49E035;
}
.tile-blog {
	background: #FF08FF;
}
.tile-contact {
	background: #00aba5;
}
.tile-follow {
	background: #FD2561;
}
/* Portfolio */
.portfolio .container {
	padding-top:10px;
	max-width: 1300px;
}
.grid-controls {
	margin: 20px 0;
	text-align: left;
}
.grid-controls ul {
	display: inline-block;
}
.grid-controls li {
	min-width: 80px;
	height: 40px;
	float: left;
	margin: 5px;
	background-color: #37AFFF;
}
.grid-controls li a {
	color: #FFFFFF;
	display: block;
	padding: 10px 10px;
}
.grid-controls li a:hover {
	text-shadow: 0px 0px 10px #ffffff;
	filter: dropshadow(color=#ffffff, offx=0, offy=0);
	background-color: #33CCFF;
}

#grid {
	width: 100%;
	display: inline-block;
	position: relative;
}
#grid li {
	width: 12%;
	float: left;
	margin: 0.5%;
	opacity: 0;
	display: none;
	position: relative;
}
#grid li:before {
	content: "";
	display: block;
	padding-top: 100%;
}
#grid li a {
	display: block;
	overflow: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
	z-index: 10;
}
#grid li a:hover {
	box-shadow: -3px 3px 3px 1px #858585;
	-webkit-box-shadow: -3px 3px 3px 1px #858585;
	-moz-box-shadow: -3px 3px 3px 1px #858585;
	-o-box-shadow: -3px 3px 3px 1px #858585;
	-webkit-transform: translate3d(6px, -6px, 0);
	-moz-transform: translate3d(6px, -6px, 0);
	-ms-transform: translate3d(6px, -6px, 0);
	-o-transform: translate3d(6px, -6px, 0);
	transform: translate3d(6px, -6px, 0);
	z-index: 100;
}
#grid li a img {
	width: 100%;
	height: 100%;
	display: block;
	position: relative;
}
#grid li a div {
	position: absolute;
	background: #4AAFFF;
	
	width: 100%;
	height: 100%;
}
#grid li a div span {
	display: block;
	padding-top: 35%;
	font-weight: normal;
	text-align: center;
	color: #FFFFFF;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}
.modal-dialog {
	width: 100%;
	padding-top: 10px;
	height: 90%;
	word-wrap: break-word;
}
.modal .modal-body img {
	width: 100%;
	min-height: 500px;
	max-height: 500px;
	height:100%;
}
.modal-header {
	padding: 0;
	border-bottom: none;
	background: #2A90FF;
}
.modal-content {
	color: #FFFFFF;
	background: #2A90FF;
	min-height: 600px;
	
	
}
.modal-header .close {
	width: 50px;
	height: 45px;
	margin-top: 0;
	opacity: 1;
	filter: alpha(opacity=100);
	color: #FFFFFF;
	background: #2A90FF;
}
.modal-title {
	color: #FFFFFF;
	padding: 15px 25px 0;
	background: #2A90FF;
	text-align: center;
}
.modal-body {
	padding: 10px 10px 50px 10px;
	background: #2A90FF;
}
.modal-body .container {
	padding-bottom: 0;
}
.modal-entery .h4 {
	margin: 20px 0 5px;
}
/* About */
.about {
}
#about-carousel .item img {
	width: 100%;
	height: 385px;
}
#about-carousel .carousel-control {
	top: auto;
	height: 40px;
	background: #67C8FF;
	background: rgb(103, 200, 255);
}
#about-carousel .carousel-control .icon-prev, .carousel-control .icon-next {
	top: 30%;
}
#about-carousel .carousel-control.left {
	width: 50px;
}
#about-carousel .carousel-control.right {
	left: 50px;
	width: 50px;
}
.skills {
	padding: 30px 30px;
	color: #FFFFFF;
	background: #37AFFF;
	background: rgba(55, 175, 255, 0.9);
}
.skills p {
	margin-bottom: 5px;
}
.skills .skill-q {
	height: 40px;
	margin-top: 30px;
}
.skills .skill-q p {
	margin-top: 6px;
}
.skills h3, .skills h4 {
	color: #ffffff;
	margin: 0 0 10px;
}
.progress {
	height: auto;
	border-radius: 0;
	padding-top: 20px;
	margin-bottom: 0;
	background-color: transparent;
	box-shadow: none;
	position: relative;
}
.progress-percent {
	right: -12px;
	bottom: 15px;
	padding: 3px 5px;
	position: absolute;
	background-color: #3FD6FF;
}
.progress-bar-success {
	height: 10px;
	background-color: #82FA82;
	box-shadow: none;
	position: relative;
}
.progress-percent:after {
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-top-color: #3FD6FF;
	border-width: 5px;
	bottom: -10px;
	right: 30%;
}
.about-note {
	margin-top: 30px;
	color: #FFFFFF;
	position: relative;
	padding: 20px 30px;
	background: #37AFFF;
	background: rgba(55, 175, 255, 0.9);
}
/* Service */
.brick {
	padding: 15px;
	margin-top: 30px;
	text-align: center;
	border: 1px solid #D7D8D9;
	background: #f0f1f2;
	-moz-transition: background .3s ease-in-out;
	-webkit-transition: background .3s ease-in-out;
	-o-transition: background .3s ease-in-out;
	transition: background .3s ease-in-out;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-ms-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}
.brick:hover {
	background: #f0f1f2 url(../images/brick.png) repeat-x top center;
	-webkit-box-shadow: -10px 10px 5px 0px rgba(128,128,128,0.67);
	-moz-box-shadow: -10px 10px 5px 0px rgba(128,128,128,0.67);
	box-shadow: -10px 10px 5px 0px rgba(128,128,128,0.67);
	-webkit-transform: translate3d(6px, -6px, 0);
	-moz-transform: translate3d(6px, -6px, 0);
	-ms-transform: translate3d(6px, -6px, 0);
	-o-transform: translate3d(6px, -6px, 0);
	transform: translate3d(6px, -6px, 0);
}
.brick .h4 {
	color: #000000;
}
.service-img {
	margin: 10px 0;
}
.service-title {
	margin: 15px 0;
}
.service-desc {
	margin: 10px 0;
	position: relative;
	text-align: left;
}
.service .container {
	padding-top:10px;
	max-width: 1300px;
}

.check-our-work {
	margin-top: 20px;
}
.check-our-work a {
	color: #FFFFFF;
	padding: 10px 20px;
	background: #4FBAFF;
	transition: all 0.1s ease-in-out;
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
}
.check-our-work a:hover {
	text-shadow: 0px 0px 10px #ffffff;
	filter: dropshadow(color=#ffffff, offx=0, offy=0);
}
.service .nav-tabs li a {
	text-align: center;
	color:#ffffff;
	background: #00CCFF;
	color:#ffffff;
}

.feature-box {
	padding: 15px;
	max-width: 293px;
	margin-top: 20px;
	background: #00CCFF;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-ms-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}
.feature-box:hover {
	box-shadow: -1px 0px 1px #6fadcb, 0px 1px 1px #54809d, -2px 1px 1px #6fadcb, -1px 2px 1px #54809d, -3px 2px 1px #6fadcb, -2px 3px 1px #54809d, -4px 3px 1px #6fadcb, -3px 4px 1px #54809d, -5px 4px 1px #6fadcb, -4px 5px 1px #54809d, -6px 5px 1px #6fadcb, -6px 7px 0 rgba(0,0,0,0.05), -5px 8px 0 rgba(0,0,0,0.05), -3px 9px 0 rgba(0,0,0,0.04), -2px 10px 0 rgba(0,0,0,0.04), -1px 11px 0 rgba(0,0,0,0.03), 0px 12px 0 rgba(0,0,0,0.03), 1px 13px 0 rgba(0,0,0,0.02), 2px 14px 0 rgba(0,0,0,0.02), 3px 15px 0 rgba(0,0,0,0.01), 4px 16px 0 rgba(0,0,0,0.01), 5px 17px 0 rgba(0,0,0,0.01), 6px 18px 0 rgba(0,0,0,0.01), inset 0 4px 5px -2px rgba(255,255,255,0.5), inset 0 1px 0 0 rgba(0,0,0,0.3);
	-webkit-transform: translate3d(6px, -6px, 0);
	-moz-transform: translate3d(6px, -6px, 0);
	-ms-transform: translate3d(6px, -6px, 0);
	-o-transform: translate3d(6px, -6px, 0);
	transform: translate3d(6px, -6px, 0);
}
.feature-box .feature-icon {
	float: left;
	margin-top: 15px;
}
.feature-box .feature-icon i {
	color: #111111;
	font-size: 1.5em;
}
.feature-box .feature-text {
	margin-top: -10px;
	padding-left: 40px;
}
.feature-box .feature-text h3 {
	color: #FFFFFF;
	font-size: 16px;
	margin-bottom: 5px;
}
/* Team */
.team {
}
.team .container {
	padding-top:10px;
	max-width: 1300px;
}


.team-member {
	max-width: 1000px;
	margin-top: 20px;
	margin-bottom: 10px;
	padding-bottom: 30px;
	text-align: left;
	background-color: #20b9cb;
	color: #FFFFFF;
	
}
.team-member:hover {
	box-shadow: -1px 0px 1px #6fadcb, 0px 1px 1px #54809d, -2px 1px 1px #6fadcb, -1px 2px 1px #54809d, -3px 2px 1px #6fadcb, -2px 3px 1px #54809d, -4px 3px 1px #6fadcb, -3px 4px 1px #54809d, -5px 4px 1px #6fadcb, -4px 5px 1px #54809d, -6px 5px 1px #6fadcb, -6px 7px 0 rgba(0,0,0,0.05), -5px 8px 0 rgba(0,0,0,0.05), -3px 9px 0 rgba(0,0,0,0.04), -2px 10px 0 rgba(0,0,0,0.04), -1px 11px 0 rgba(0,0,0,0.03), 0px 12px 0 rgba(0,0,0,0.03), 1px 13px 0 rgba(0,0,0,0.02), 2px 14px 0 rgba(0,0,0,0.02), 3px 15px 0 rgba(0,0,0,0.01), 4px 16px 0 rgba(0,0,0,0.01), 5px 17px 0 rgba(0,0,0,0.01), 6px 18px 0 rgba(0,0,0,0.01), inset 0 4px 5px -2px rgba(255,255,255,0.5), inset 0 1px 0 0 rgba(0,0,0,0.3);
	-webkit-transform: translate3d(6px, -6px, 0);
	-moz-transform: translate3d(6px, -6px, 0);
	-ms-transform: translate3d(6px, -6px, 0);
	-o-transform: translate3d(6px, -6px, 0);
	transform: translate3d(6px, -6px, 0);
	z-index: 100;
}
.team-member img {
	width: 187px;
	height: 187px;
}
.delete-member img {
	width: 100px;
	height: 100px;
	color: #FFFFFF;
}
.delete-member .h5 {

	
	color: #FFFFFF;
	padding-left: 10px;
}

.team-member .h5 {

	
	color: #FFFFFF;
	padding-left: 10px;
}
.member-social {
	margin: 15px 0;
	text-align: center;
	color: #FFFFFF;
}
.member-social li {
	padding: 3px;
	display: inline-block;
}
.member-social li a {
	width: 40px;
	height: 40px;
	padding-top: 5px;
	display: inline-block;
	color: #FFFFFF;
	-webkit-box-shadow: 0 0 1px 100px rgba(255, 255, 255, 0.3) inset;
	-moz-box-shadow: 0 0 1px 100px rgba(255, 255, 255, 0.3) inset;
	box-shadow: 0 0 1px 100px rgba(255, 255, 255, 0.3) inset;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.member-social li a:hover {
	opacity: 1;
	color: #ffffff;
	-webkit-box-shadow: 0 0 1px 0px rgba(255, 255, 255, 0.6) inset;
	-moz-box-shadow: 0 0 1px 0px rgba(255, 255, 255, 0.6) inset;
	box-shadow: 0 0 1px 0px rgba(255, 255, 255, 0.6) inset;
}
/* client */
.client {
}
.client .photos ul li {
	display: block;
	float: left;
	height: auto;
	line-height: 0;
	width: 33.333333%;
}
.client .photos ul li a {
	display: block;
}
.client .photos ul li img {
	-webkit-transition: all 0.7s ease-in-out;
	-moz-transition: all 0.7s ease-in-out;
	-ms-transition: all 0.7s ease-in-out;
	-o-transition: all 0.7s ease-in-out;
	transition: all 0.7s ease-in-out;
	opacity: 0.2;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
}
.client .quotes {
	color: #FFF;
	float: left;
	height: 368px;
	padding: 30px;
	position: relative;
	background: #2D92FF
}
.client .quotes:after, .client .quotes:before {
	left: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.client .quotes:after {
	border-color: rgba(136, 183, 213, 0);
	border-left-color: #2D92FF;
	border-width: 20px;
	top: 15px;
}
.client .quotes ul li {
	display: none;
}
.client .quotes ul li p {
	font-size: 22px;
	font-style: italic;
	line-height: 1.4;
	margin-bottom: 0;
}
.client .photos ul li.active a img, .client .photos ul li a:hover img {
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.client .photos .author {
	background: #2D92FF;
	clear: both;
	font-size: 18px;
	font-weight: 300;
	color: #FFFFFF;
	padding: 20px 20px 20px 40px;
	padding: 2rem 2rem 2rem 4rem;
	position: relative;
}
.client .nav-tabs li a {
	text-align: center;
	color:#ffffff;
	background: #00CCFF;
}
/* ==============================================
Blog
=============================================== */
.blog {
	
	
}
.blog-post {
	position: relative;
	margin-top: 30px;
	margin-bottom: 10px;
}
.blog-post .article {
	width: 100%;
	min-height: 500px;
	background-color: #42C5FF;
	background-color: rgba(66, 197, 255);
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-ms-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
	z-index: 10;
}
.blog-post .article:hover {
	box-shadow: -1px 0px 1px #6fadcb, 0px 1px 1px #54809d, -2px 1px 1px #6fadcb, -1px 2px 1px #54809d, -3px 2px 1px #6fadcb, -2px 3px 1px #54809d, -4px 3px 1px #6fadcb, -3px 4px 1px #54809d, -5px 4px 1px #6fadcb, -4px 5px 1px #54809d, -6px 5px 1px #6fadcb, -6px 7px 0 rgba(0,0,0,0.05), -5px 8px 0 rgba(0,0,0,0.05), -3px 9px 0 rgba(0,0,0,0.04), -2px 10px 0 rgba(0,0,0,0.04), -1px 11px 0 rgba(0,0,0,0.03), 0px 12px 0 rgba(0,0,0,0.03), 1px 13px 0 rgba(0,0,0,0.02), 2px 14px 0 rgba(0,0,0,0.02), 3px 15px 0 rgba(0,0,0,0.01), 4px 16px 0 rgba(0,0,0,0.01), 5px 17px 0 rgba(0,0,0,0.01), 6px 18px 0 rgba(0,0,0,0.01), inset 0 4px 5px -2px rgba(255,255,255,0.5), inset 0 1px 0 0 rgba(0,0,0,0.3);
	-webkit-transform: translate3d(6px, -6px, 0);
	-moz-transform: translate3d(6px, -6px, 0);
	-ms-transform: translate3d(6px, -6px, 0);
	-o-transform: translate3d(6px, -6px, 0);
	transform: translate3d(6px, -6px, 0);
	z-index: 100;
}
.blog-post .article-body {
	padding: 10px 20px;
}
.article-body .reading i {
	color: #FFFFFF;
	padding-top: 3px;
}
.article .article-tag {
	color: #FFFFFF;
	margin-top: 15px;
	padding-bottom: 5px;
}
.article .article-tag .fa-tag {
	padding-right: 10px;
}
.article .article-media img {
	width: 100%;
	height: 350px;
}
.article .article-by {
	margin-bottom: 10px;
}
.article .article-title {
	margin-top: 10px;
}
.article .read-more {
	color: #FFFFFF;
	padding: 5px 0;
	margin-top: 30px;
	margin-bottom: 30px;
	border-top: 1px solid #FDFDFD;
	border-bottom: 1px solid #FDFDFD;
}
.blog-post .article-tag a, .article .article-title a, .article .read-more a {
	color: #FFFFFF;
}
.separator {
	color: #FFFFFF;
	padding: 0px 5px;
}
/* Contact */
.contact {
	background: #FFFFFF;
	
}
.contact .modal-dialog {
	max-width: 640px;
}
.contact .container {
	max-width: 860px;
}
.contact-holder {
	min-height: 100%;
	position: relative;
}
.contact-box {
	margin: 10px 0;
	padding: 20px 30px;
	position: relative;
	color: #ffffff !important;
	background-color: #15B7FF;
	background-color: rgba(21, 183, 255, 0.8);
	z-index: 10;
}
.contact-box a {
	color: #FFFFFF;
}
.contact-box .h3 {
	color: #FFFFFF;
	font-size: 22px;
	text-align: center;
}
.contact-box .close {
	width: 50px;
	height: 45px;
	top: 0;
	right: 0;
	color: #FFFFFF;
	position: absolute;
	opacity: 1;
	filter: alpha(opacity=100);
}
#contactform .btn, .submit {
	border: none;
	background-color: #F151FF;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
#contactform .btn:hover, .submit:hover {
	border: none;
	background-color: #EA00FF;
}
.form-control {
	color: #1d1d1d;
	border-radius: 0;
	padding-left: 30px;
	font-style: italic;
}
.form-group {
	color: #20b9cb;
	position: relative;
}
.form-group i {
	position: absolute;
	top: 8px;
	left: 10px;
	color: #B9B9B9;
}
.form-group .fa-arrow-right {
	color: #FFFFFF;
}
#state-message .alert-danger {
	margin-bottom: 0;
}
#state-message .alert-success {
	margin-top: 20px;
}
#map {
	top: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 5;
}
/* Follow */
.follow .container {
	max-width: 600px;
}
.tweet-box {
	min-height: 100px;
	margin: 0 0.5% 1% 0.5%;
	color: #FFFFFF;
	background: #5398AF;
}
#twitter-carousel {
	padding: 10px 10px 0 10px;
}
#twitter-carousel p {
	margin-bottom: 5px;
}
#twitter-carousel a {
	color: #0033FF;
}
#twitter-carousel .carousel-inner {
	height: 100%;
}
.socialize {
	background: #32CCFF;
	padding: 10px 0 20px 0;
	margin: 0 0.5% 0.5% 0.5%;
}
#social-networks {
	width: 100%;
	display: inline-block;
}
#social-networks li {
	width: 24%;
	float: left;
	margin: 0.5%;
	position: relative;
	text-align: center;
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
/* http://www.mademyday.de/css-height-equals-width-with-pure-css.html */
#social-networks li:before {
	content: "";
	display: block;
	padding-top: 100%;
}
#social-networks li:hover {
	-webkit-box-shadow: -3px 3px 3px 1px #858585;
	-moz-box-shadow: -3px 3px 3px 1px #858585;
	-o-box-shadow: -3px 3px 3px 1px #858585;
	box-shadow: -3px 3px 3px 1px #858585;
	-webkit-transform: translate3d(4px, -4px, 0);
	-moz-transform: translate3d(4px, -4px, 0);
	-ms-transform: translate3d(4px, -4px, 0);
	-o-transform: translate3d(4px, -4px, 0);
	transform: translate3d(4px, -4px, 0);
}
#social-networks li a {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	padding-top: 30%;
	display: block;
	color: #FFFFFF;
	z-index: 10;
}
#social-networks li a:hover {
	color: #FFFFFF;
}
#social-networks li i {
	display: block;
	-moz-transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
	-ms-transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
	-o-transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
	-webkit-transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
	transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
}
#social-networks li:hover i {
	-webkit-transform: scale(1.2) rotate(360deg);
	-moz-transform: scale(1.2) rotate(360deg);
	-ms-transform: scale(1.2) rotate(360deg);
	-o-transform: scale(1.2) rotate(360deg);
	transform: scale(1.2) rotate(360deg);
}
.social-twitter {
	background: #32CCFF;
}
.social-facebook {
	background: #3b5998;
}
.social-googleplus {
	background: #666;
}
.social-youtube {
	background: #cc181e;
}
.social-pinterest {
	background: #e3262e;
}
.social-linkedin {
	background: #39c;
}
.social-dribbble {
	background: #f06;
}
.social-flickr {
	background: #F10091;
}
/* Media Query */

@media (max-width:991px) {
.modal-dialog {
	width: 768px;
	padding: 10px;
}
.feature-box {
	max-width: 455px;
}
}
 @media (max-width:767px) {
.feature-box {
	max-width: 100%;
}
.team-member {
	max-width: 100%;
}
.modal-dialog {
	width: auto;
	padding: 10px;
}
.client .quotes {
	height: auto;
	margin-top: 30px;
}
.client .photos ul li {
	width: 16.666666%;
}
.client .quotes:after, .client .quotes:before {
	bottom: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.client .quotes:before {
	border-color: rgba(194, 225, 245, 0);
	border-bottom-color: #2D92FF;
	border-width: 26px;
	left: 20%;
}
.tile .fa-4x {
	font-size: 3em;
}
.modal-entery {
	margin-top: 20px;
}
.tile-item i {
	padding-top: 8%;
}
.navbar-nav {
	float: left !important;
}
.navbar-nav li a {
	padding-top: 5px;
	padding-bottom: 5px;
}
.skills {
	margin-top: 30px;
}
}
@media (max-width:640px) {
.tile .fa-4x {
	font-size: 2em;
}
.tile .ascensorLink .h5 {
	line-height: 1.3;
}
}
@media (max-width:480px) {
.tile-item i {
	padding-top: 7%;
}
.team .col-xs-6 {
	width: 100%;
}
.follow .col-xs-4 {
	width: 50%;
}
#social-networks .fa-4x {
	font-size: 3em;
}
.socialize {
	padding: 5px 0 10px 0;
}
}
@media (max-width:420px) {
.tile {
	width: 32.333333%;
}
.tile:nth-child(4n+1) {
	clear: none;
}
.tile:nth-child(3n+1) {
	clear: both;
}
#social-networks li a {
	padding-top: 25%;
}
#social-networks .fa-4x {
	font-size: 2.7em;
}
}

@media screen {
  #printSection {
      display: none;
  }
}



.my-custom-class .modal-dialog{
    width: 400px;
    height:10px;
	padding-top: 160px;
	

}
.my-custom-class .modal-content {
	min-height: 0px;
	background: #ffffff;
    color: #2D92FF;
    
    
}
.my-custom-class .modal-title {
	color: #2D92FF;
	background: #ffffff;
	text-align: center;
	
}
.my-custom-class .modal-header {
	padding: 0;
	border-bottom: none;
	background: #ffffff;
	
}
.my-custom-class .modal-body {
	background: #ffffff;
	border-color: #ffffff;
	color: #3b5998;
	
}
.my-custom-class .modal-body .close {
	width: 50px;
	height: 45px;
	margin-top: 0;
	opacity: 1;
	filter: alpha(opacity=100);
	color: #3b5998;
	background: #FFFFFF;
	text-align: right;
}
.my-custom-class .modal-header .close {
	width: 50px;
	height: 45px;
	margin-top: 0;
	opacity: 1;
	filter: alpha(opacity=100);
	color: #2A90FF;
	background: #FFFFFF;
}
/* Cust vaccination card dialog started here
*/
.my-vacc-class .modal-dialog{
    width: 100%;
    height:100%;
	padding-top: 10px;
	

}
.my-vacc-class .modal-content {
	min-height: 0px;
	background: #ffffff;
    color: #2D92FF;
    
    
}
.my-vacc-class .modal-title {
	color: #f7f7f7;
	background: #0088cc;
	text-align: center;
	
}
.my-vacc-class .modal-header {
	padding: 0;
	border-bottom: none;
	background: #ffffff;
	
}
.my-vacc-class .modal-body {
	background: #ffffff;
	border-color: #ffffff;
	color: #3b5998;
	
}
.my-vacc-class .modal-body .close {
	width: 50px;
	height: 45px;
	margin-top: 0;
	opacity: 1;
	filter: alpha(opacity=100);
	color: #3b5998;
	background: #FFFFFF;
	text-align: right;
}
.my-vacc-class .modal-header .close {
	width: 50px;
	height: 45px;
	margin-top: 0;
	opacity: 1;
	filter: alpha(opacity=100);
	color: #f7f7f7;
	background: #0088cc;
}
/* Cust vaccination card dialog ended here
*/

.my-summary-class .modal-dialog{
    width: 100%;
    height:100%;
	padding-top: 10px;
	

}
.my-summary-class .modal-content {
	min-height: 0px;
	background: #ffffff;
    color: #2D92FF;
    
    
}
.my-summary-class .modal-title {
	background: #47D247;
	color: #ffffff;
	text-align: center;
		
}
.my-summary-class .modal-header {
	padding: 0;
	border-bottom: none;
	background: #2A90FF;
	color: #ffffff;
	
}
.my-summary-class .modal-body {
	background: #e3e3e3;
	border-color: #6ab165;
	color: #000;
	height:600px;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
	
}
.my-summary-class .modal-body .close {
	width: 50px;
	height: 45px;
	margin-top: 0;
	opacity: 1;
	filter: alpha(opacity=100);
	color: #3b5998;
	background: #FFFFFF;
	text-align: right;
}
.my-summary-class .modal-header .close {
	width: 50px;
	height: 45px;
	margin-top: 0;
	opacity: 1;
	filter: alpha(opacity=100);
	background: #47D247;
	color: #ffffff;
}
/* Cust emergecy card dialog started here
*/
.my-emergency-class .modal-dialog{
    width: 500px;
    height: auto;
	padding-top: 10px;
	

}
.my-emergency-class .modal-content {
	min-height: 0px;
	background: #ffffff;
    color: #2D92FF;
    
    
}
.my-emergency-class .modal-title {
	color: #f7f7f7;
	background: #0088cc;
	text-align: center;
	
}
.my-emergency-class .modal-header {
	padding: 0;
	border-bottom: none;
	background: #ffffff;
	
}
.my-emergency-class .modal-body {
	background: #ffffff;
	border-color: #ffffff;
	color: #3b5998;
	
}
.my-emergency-class .modal-body .close {
	width: 50px;
	height: 45px;
	margin-top: 0;
	opacity: 1;
	filter: alpha(opacity=100);
	color: #3b5998;
	background: #FFFFFF;
	text-align: right;
}
.my-emergency-class .modal-header .close {
	width: 50px;
	height: 45px;
	margin-top: 0;
	opacity: 1;
	filter: alpha(opacity=100);
	color: #f7f7f7;
	background: #0088cc;
}
/* Cust emergency card dialog ended here
*/
